mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}
a {
  text-decoration: none;
}
.newsapp-sidenav-container {
  flex: 1;
}
.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
infinite-scroll-shell {
  height :500px;
}
